@import url(../css/fonts.css);
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.color-wrapper {
  background-color: #262829;
}

.color-wrapper .mail, .color-wrapper .phone {
  color: #FFF;
  font: 400 12px Montserrat Regular, sans-serif;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.color-wrapper .mail a, .color-wrapper .phone a {
  color: #838B8C;
  font: 400 12px Montserrat Regular, sans-serif;
  text-decoration: none;
}

.color-wrapper .mail a:hover, .color-wrapper .phone a:hover {
  color: #FFAC56;
}

.color-wrapper .mail {
  border-right: 1px solid #838B8C;
}

.navbar-collapse .navbar-list .nav-item .nav-link {
  text-transform: uppercase;
  font: 400 14px Montserrat Bold, sans-serif;
  padding: 0 15px;
}

.navbar-collapse .navbar-list .nav-item .nav-link:hover {
  color: #FFAC56;
}

.navbar-collapse .navbar-list .nav-item .active {
  color: #FFAC56;
}

#banner .carddeck .headblock {
  text-transform: uppercase;
  background-color: #FFAC56;
  padding: 35px 40px;
  color: #FFF;
}

#banner .carddeck .headblock h2 {
  font: 400 14px Montserrat Regular, sans-serif;
}

#banner .carddeck .headblock span {
  font: 400 30px Lato Light, serif;
}

#banner .carddeck .item {
  width: 50%;
  border: 1px solid #838B8C;
}

#banner .carddeck .item img {
  padding: 25px 15px 5px;
}

#banner .carddeck .item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #03B6E7;
  padding: 15px 12px 15px 12px;
  color: #FFF;
}

#banner .carddeck .item a:hover {
  background-color: #00A6D3;
}

#banner .carddeck .item .title {
  padding: 0 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#banner .carddeck .item .title h3 {
  font: 700 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  margin-top: 11px;
}

#banner .carddeck .item .title .fa-chevron-right {
  border: 2px solid #FFF;
  border-radius: 50%;
  padding: 3px 7px;
  width: 25px;
  height: 25px;
}

#banner .carddeck .item-btn {
  width: 50%;
  background-color: #03B6E7;
}

#banner .carddeck .item-btn .btn {
  display: block;
  font: 400 13px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 15px 45px;
  margin: 25px;
  letter-spacing: -0.13px;
  color: #FFF;
  background-color: #16D428;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
}

#banner .carddeck .item-btn .btn:hover {
  border: 2px solid #16D428;
  color: #16D428;
  background-color: #FFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.arrow {
  position: absolute;
  z-index: 10;
  width: 1%;
  height: 10%;
  background-color: #838B8C;
  opacity: 1;
  top: 45%;
}

.arrow:hover {
  opacity: .8;
}

.arrow span {
  color: #FFF;
}

#about {
  padding: 95px 0;
}

#about .about-description h2 {
  font: 700 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.7px;
  color: #838B8C;
}

#about .about-description span {
  text-transform: uppercase;
  font: 700 24px Montserrat Bold, sans-serif;
  letter-spacing: -0.7px;
}

#about .about-description p {
  margin: 20px 0;
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
  color: #838B8C;
}

#about .about-description .btn {
  display: inline-block;
  font: 400 13px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 15px 25px;
  letter-spacing: -0.13px;
  color: #FFF;
  background-color: #16D428;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
}

#about .about-description .btn:hover {
  border: 2px solid #16D428;
  color: #16D428;
  background-color: #FFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

#about .badge {
  max-width: 237px;
  padding: 18px;
  margin-top: 30px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #03B6E7;
  border: 5px solid #FFF;
}

#about .badge img {
  padding: 0 35px;
}

#about .badge .solid-wrapper {
  border: 1px solid #FFF;
}

#about .badge .solid-wrapper span {
  font: 400 75px Montserrat Regular, sans-serif;
  letter-spacing: -3.75px;
}

#about .badge .solid-wrapper p {
  font: 700 10px Montserrat Regular, sans-serif;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

#our-steps {
  background-color: #E7EFF1;
  padding: 95px 0;
}

#our-steps h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#our-steps span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#our-steps .deck {
  padding-top: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

#our-steps .deck .item {
  padding: 0;
}

#our-steps .deck .item h2 {
  padding: 33px 0 10px 0;
  color: #16D428;
  font: 700 20px Montserrat Regular, sans-serif;
}

#our-steps .deck .item h3 {
  text-transform: uppercase;
  font: 700 18px Montserrat Bold, sans-serif;
  letter-spacing: -0.9px;
  line-height: 33px;
  margin-bottom: 33px;
}

#our-steps .deck .item p {
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
  color: #838B8C;
}

#feature-projects {
  padding: 95px 0;
}

#feature-projects h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#feature-projects h3 {
  font: 400 12px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  color: #FFF;
}

#feature-projects h4 {
  display: inline;
  position: absolute;
  padding: 5px 20px;
  top: 5%;
  left: 5%;
  font: 400 12px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  color: #FFF;
  border: 2px solid #FFAC56;
  border-radius: 25px;
}

#feature-projects p {
  font: 400 15px Domine Regular, serif;
  color: #FFF;
}

#feature-projects .project-item {
  position: relative;
}

#feature-projects .project-item .project-corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 56px solid #00A6D3;
  border-right: 56px solid transparent;
  color: #FFF;
  z-index: 5;
}

#feature-projects .project-item .project-corner:hover {
  border-bottom-color: #FFAC56;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  cursor: pointer;
}

#feature-projects .project-item .project-corner i {
  position: absolute;
  bottom: -45px;
  left: 10px;
}

#feature-projects .project-item .project-overlay {
  position: absolute;
  background-color: #FFAC56;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  color: #FFF;
  text-align: center;
}

#feature-projects .project-item .none {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

#feature-projects span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#feature-projects .btn-2 {
  display: inline-block;
  font: 700 13px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 25px;
  letter-spacing: -0.13px;
  color: #FFF;
  background-color: #16D428;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
}

#feature-projects .btn-2:hover {
  border: 2px solid #16D428;
  color: #16D428;
  background-color: #FFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

#testimonials {
  padding: 95px 0;
  background-color: #03B6E7;
  color: #FFF;
}

#testimonials h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#testimonials span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#testimonials p {
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
}

#testimonials .testimonials-description {
  position: relative;
  padding-top: 57px;
}

#testimonials .testimonials-description::after {
  position: absolute;
  content: '';
  width: 3%;
  height: 2px;
  background-color: #FFF;
  top: 90%;
  left: 13%;
}

#testimonials .carousel-indicators {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: static;
  margin: 0;
}

#testimonials .carousel-indicators .indicator-item {
  text-indent: 0;
  width: auto;
  height: auto;
  margin: 0;
  background: none;
  border: 0;
}

#testimonials .carousel-indicators .indicator-item .title-wrapper h3 {
  font: 700 14px Montserrat Bold, sans-serif;
  text-transform: uppercase;
}

#testimonials .carousel-indicators .indicator-item img {
  max-width: 67px;
  max-height: 67px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#testimonials .carousel-indicators .indicator-item .inner-pagination li {
  width: 15px;
  height: 15px;
  color: #FFF;
  background-color: #16D428;
  border: 2px solid #FFF;
  border-radius: 50%;
}

#our-blog {
  position: relative;
  background-color: #E7EFF1;
}

#our-blog h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#our-blog span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#our-blog .blog-items {
  padding: 60px 0;
  position: relative;
}

#our-blog .blog-items .btns button {
  font: 700 12px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 12px 38px;
  background-color: transparent;
  border-style: none;
  border: 2px solid #000;
  border-radius: 25px;
  outline: none;
}

#our-blog .blog-items .btns button:hover {
  border: 2px solid #FFAC56;
  cursor: pointer;
}

#our-blog .blog-items .btns .active-button {
  border: 2px solid #FFAC56;
}

#our-blog .blog-item a {
  text-decoration: none;
}

#our-blog .blog-item a:hover {
  color: #FFAC56;
}

#our-blog .blog-item time {
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
}

#our-blog .blog-item span {
  font: 400 15px Domine Regular, serif;
  color: #16D428;
}

#our-blog .blog-item h4 {
  font: 700 18px Montserrat Bold, sans-serif;
  line-height: 33px;
  text-transform: uppercase;
}

#our-blog .blog-item p {
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
}

#our-blog .all-post {
  display: none;
}

#contact-us {
  padding: 95px 0;
}

#contact-us h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#contact-us span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#contact-us .card-deck {
  margin-top: 33px;
}

#contact-us .card-deck li img {
  padding: 5px;
}

#contact-us .card-deck li span {
  display: block;
  font: 700 18px Montserrat Bold, sans-serif;
  letter-spacing: -0.9px;
}

#contact-us .card-deck li a {
  font: 400 18px Domine Regular, serif;
  line-height: 28px;
  text-decoration: none;
}

#contact-us .card-deck li a:hover {
  color: #FFAC56;
}

footer {
  background-color: #262829;
  padding: 96px 0 56px 0;
}

footer h2 {
  text-transform: uppercase;
  color: #FFF;
  font: 700 20px Montserrat Bold, sans-serif;
  padding-bottom: 25px;
}

footer p {
  color: #838B8C;
  font: 400 15px Domine Regular, serif;
  line-height: 24px;
}

footer .mailchimp {
  padding-top: 42px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .mailchimp input {
  position: relative;
  width: 70%;
  background-color: #323334;
  color: #838B8C;
  padding: 15px 25px;
  border-style: none;
  font: 700 13px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  border-radius: 25px;
}

footer .mailchimp .formEmailButton {
  position: absolute;
  right: 18%;
  width: 110px;
  background-color: #16D428;
  padding: 15px;
  border-style: none;
  color: #FFF;
  font: 700 13px Montserrat Bold, sans-serif;
  border-radius: 25px;
}

footer .mailchimp .formEmailButton:hover {
  background-color: #FFF;
  color: #FFAC56;
}

footer .links li {
  margin-bottom: 8px;
}

footer .links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #838B8C;
  font: 700 13px Montserrat Regular, sans-serif;
}

footer .links a:hover {
  color: #FFAC56;
}

footer .copyright {
  position: relative;
}

@media (min-width: 768px) {
  .carousel-girls {
    position: absolute;
    z-index: -2;
    top: 13%;
  }
  .carddeck {
    margin-top: 15.4%;
  }
  .badge {
    position: absolute;
    left: 20%;
    top: 40%;
  }
  .item {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .carousel-girls {
    position: absolute;
    z-index: -2;
    top: 13%;
  }
  .carddeck {
    margin-top: 15.4%;
  }
  .badge {
    position: absolute;
    left: 30%;
    top: 50%;
  }
}

@media (min-width: 1024px) {
  .carousel-girls {
    position: absolute;
    z-index: -2;
    top: 14%;
  }
  .carddeck {
    margin-top: 15.4%;
  }
  .badge {
    position: absolute;
    left: 30%;
    top: 50%;
  }
  .card-deck li {
    padding: 30px;
    border: 1px solid #E1EAEC;
  }
}

@media (min-width: 1140px) {
  .carousel-girls {
    position: absolute;
    z-index: -2;
    top: 13%;
  }
  .carddeck {
    margin-top: 15.6%;
  }
  .badge {
    position: absolute;
    left: 30%;
    top: 50%;
  }
  .blog-img {
    overflow: hidden;
  }
  .blog-items {
    margin-left: calc((100vw - 1140px) / 2);
  }
  .blog-items .btns {
    position: absolute;
    top: 10%;
    left: 20%;
  }
  .card-deck li {
    padding: 30px;
    border: 1px solid #E1EAEC;
  }
}
