@import url(../css/fonts.css);
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.color-wrapper {
  background-color: #262829;
}

.color-wrapper .mail, .color-wrapper .phone {
  color: #FFF;
  font: 400 12px Montserrat Regular, sans-serif;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.color-wrapper .mail a, .color-wrapper .phone a {
  color: #838B8C;
  font: 400 12px Montserrat Regular, sans-serif;
  text-decoration: none;
}

.color-wrapper .mail a:hover, .color-wrapper .phone a:hover {
  color: #FFAC56;
}

.color-wrapper .mail {
  border-right: 1px solid #838B8C;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font: 400 14px Montserrat Bold, sans-serif;
  padding: 0 15px;
}

.navbar .nav-item .nav-link:hover {
  color: #FFAC56;
}

.navbar .nav-item .nav-link .active {
  color: #FFAC56;
}

#banner .carddeck .headblock {
  text-transform: uppercase;
  background-color: #FFAC56;
  padding: 35px 40px;
  color: #FFF;
}

#banner .carddeck .headblock h2 {
  font: 400 14px Montserrat Regular, sans-serif;
}

#banner .carddeck .headblock span {
  font: 400 30px Lato Light, serif;
}

#banner .carddeck .item {
  width: 50%;
  border: 1px solid #838B8C;
}

#banner .carddeck .item img {
  padding: 25px 15px 5px;
}

#banner .carddeck .item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #03B6E7;
  padding: 15px 12px 15px 12px;
  color: #FFF;
}

#banner .carddeck .item a:hover {
  background-color: #00A6D3;
}

#banner .carddeck .item .title {
  padding: 0 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#banner .carddeck .item .title h3 {
  font: 700 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  margin-top: 11px;
}

#banner .carddeck .item .title .fa-chevron-right {
  border: 2px solid #FFF;
  border-radius: 50%;
  padding: 3px 7px;
  width: 25px;
  height: 25px;
}

#banner .carddeck .item-btn {
  width: 50%;
  background-color: #03B6E7;
}

#banner .carddeck .item-btn .btn {
  display: block;
  font: 400 13px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 15px 45px;
  margin: 25px;
  letter-spacing: -0.13px;
  color: #FFF;
  background-color: #16D428;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
}

#banner .carddeck .item-btn .btn:hover {
  border: 2px solid #16D428;
  color: #16D428;
  background-color: #FFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

#about {
  padding: 95px 0;
}

.about-description h2 {
  font: 700 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.7px;
  color: #838B8C;
}

.about-description span {
  text-transform: uppercase;
  font: 700 24px Montserrat Bold, sans-serif;
  letter-spacing: -0.7px;
}

.about-description p {
  margin: 20px 0;
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
  color: #838B8C;
}

.about-description .btn {
  display: inline-block;
  font: 400 13px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 15px 25px;
  letter-spacing: -0.13px;
  color: #FFF;
  background-color: #16D428;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
}

.about-description .btn:hover {
  border: 2px solid #16D428;
  color: #16D428;
  background-color: #FFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.badge {
  position: absolute;
  max-width: 237px;
  padding: 18px;
  margin-top: 30px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #03B6E7;
  border: 5px solid #FFF;
  top: 50%;
  left: 30%;
}

.badge img {
  padding: 0 35px;
}

.badge .solid-wrapper {
  border: 1px solid #FFF;
}

.badge .solid-wrapper span {
  font: 400 75px Montserrat Regular, sans-serif;
  letter-spacing: -3.75px;
}

.badge .solid-wrapper p {
  font: 700 10px Montserrat Regular, sans-serif;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

#our-steps {
  background-color: #E7EFF1;
  padding: 95px 0;
}

#our-steps h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#our-steps span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#our-steps .deck {
  padding-top: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

#our-steps .deck .item {
  padding: 0;
}

#our-steps .deck .item h2 {
  padding: 33px 0 10px 0;
  color: #16D428;
  font: 700 20px Montserrat Regular, sans-serif;
}

#our-steps .deck .item h3 {
  text-transform: uppercase;
  font: 700 18px Montserrat Bold, sans-serif;
  letter-spacing: -0.9px;
  line-height: 33px;
  margin-bottom: 33px;
}

#our-steps .deck .item p {
  font: 400 15px Domine Regular, serif;
  line-height: 28px;
  color: #838B8C;
}

#feature-projects {
  padding: 95px 0;
}

#feature-projects h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#feature-projects span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#feature-projects .btn-2 {
  display: inline-block;
  font: 400 13px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 25px;
  letter-spacing: -0.13px;
  color: #FFF;
  background-color: #16D428;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
}

#feature-projects .btn-2:hover {
  border: 2px solid #16D428;
  color: #16D428;
  background-color: #FFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

#testimonials {
  padding: 95px 0;
  background-color: #03B6E7;
  color: #FFF;
}

#testimonials h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#testimonials span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#testimonials .testimonials-description {
  position: relative;
  padding-top: 57px;
}

#testimonials .testimonials-description::after {
  position: absolute;
  content: '';
  width: 3%;
  height: 2px;
  background-color: #FFF;
  top: 90%;
  left: 13%;
}

#testimonials .carousel-indicators {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: static;
  margin: 0;
}

#testimonials .carousel-indicators .indicator-item {
  text-indent: 0;
  width: auto;
  height: auto;
  margin: 0;
  background: none;
  border: 0;
}

#testimonials .carousel-indicators .indicator-item .title-wrapper h3 {
  font: 700 14px Montserrat Bold, sans-serif;
  text-transform: uppercase;
}

#testimonials .carousel-indicators .indicator-item .title-wrapper p {
  font: 400 15px Domine Regular, serif;
}

#testimonials .carousel-indicators .indicator-item img {
  max-width: 67px;
  max-height: 67px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#testimonials .carousel-indicators .indicator-item .pagination li {
  width: 15px;
  height: 15px;
  color: #FFF;
  background-color: #16D428;
  border: 2px solid #FFF;
  border-radius: 50%;
}

#our-blog {
  position: relative;
  background-color: #E7EFF1;
}

#our-blog h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#our-blog span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#our-blog .nav .nav-link {
  border: 2px solid;
  border-radius: 25px;
}

#our-blog .nav .nav-link .active {
  border: 2px solid #FFAC56;
  border-radius: 25px;
}

#contact-us {
  padding: 95px 0;
}

#contact-us h2 {
  font: 400 14px Montserrat Regular, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #838B8C;
}

#contact-us span {
  font: 700 32px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

#contact-us .card-deck {
  margin-top: 33px;
}

footer {
  background-color: #262829;
  padding: 96px 0 56px 0;
}

footer h2 {
  text-transform: uppercase;
  color: #FFF;
  font: 700 20px Montserrat Bold, sans-serif;
  padding-bottom: 25px;
}

footer p {
  color: #838B8C;
  font: 400 15px Domine Regular, serif;
  line-height: 24px;
}

footer .mailchimp {
  padding-top: 42px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .mailchimp input {
  position: relative;
  width: 70%;
  background-color: #323334;
  color: #838B8C;
  padding: 15px 25px;
  border-style: none;
  font: 700 13px Montserrat Bold, sans-serif;
  text-transform: uppercase;
  border-radius: 25px;
}

footer .mailchimp .formEmailButton {
  position: absolute;
  right: 18%;
  width: 120px;
  background-color: #16D428;
  padding: 15px 25px;
  border-style: none;
  color: #FFF;
  font: 700 13px Montserrat Bold, sans-serif;
  border-radius: 25px;
}

footer .mailchimp .formEmailButton:hover {
  background-color: #FFF;
  color: #FFAC56;
}

footer .links li {
  margin-bottom: 8px;
}

footer .links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #838B8C;
  font: 700 13px Montserrat Regular, sans-serif;
}

footer .links a:hover {
  color: #FFAC56;
}

footer .copyright {
  position: relative;
}

footer .copyright::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #838B8C;
  margin-top: -10px;
}
